.DS_Store
node_modules

/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.phpunit.result.cache

# built css
/src/css/vendor.css
/src/css/vendor.css.map
/src/css/app.css
/src/css/app.css.map

# built js
/src/js/vendor.js
/src/js/vendor.js.map
/src/js/app.js
/src/js/app.js.map

# manifest
/src/js/manifest.js
/src/js/manifest.js.map
/src/mix-manifest.json
/src/js/admin/manifest.js
/src/js/admin/manifest.js.map

/src/css/fonts/*

/src/fonts/vendor
/src/images/vendor

